#dv1{
    background-color: rgb(238, 130, 29);
    width: 600px;
    height: 100px;
    margin: 10px auto;
}
.teste{
    background-color: aqua;
    width: 600px;
    height: 100px;
    margin: 10px auto;
}
h1{
    color:blue;
}