body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
}

h2{
    color: rgb(62, 175, 62);
}

h1{
    color: yellow;
}

#S3{
    color: red;
}

.paragrafo3{
    background-color: rgb(223, 158, 79);
}